.slidecontent * {
    box-sizing: border-box;
}

.slidecontent {
    width: 100%;
    position: relative;
}

.slidecontent img {
    width: 100%;
    height: auto;
    display: block;
}

.slidecontent .text {
    position: absolute;
    width: 40%;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.9);
    left: 2rem;
    bottom: 2rem;
}

.slidecontent .title {
    margin-top: -0.2rem;
    margin-bottom: 1rem;
    font-size: 1.75em;
}

.slidecontent .subtitle {
    margin-top: 1rem;
}

.slidecontent .text :last-child {
    margin-bottom: 0;
}
